{{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}}) }}
<div class="d-flex justify-content-center mt-5">
    <aside class="col-sm-4">
            <h4 class="card-title mb-4 mt-1">Sign up</h4>
                {{ form_widget(form) }}
                <div class="form-group">
                    <button type="submit" id="_submit" value="{{ 'registration.submit'|trans }}" style="background: rgb(50, 22, 75); border: none!important;" class="btn btn-primary btn-block">Register</button>
                </div>
    </aside>
</div>
{{ form_end(form) }}